body {
  margin: 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 100px;
  margin-top: 0;
  color: white;
}

h2 {
  text-align: center;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 27px;
  text-align: justify;
}

.slide {
  height: 900px;
}

#slide1 {
  background: url(../images/donkey-skin-banner.jpg) center 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;

  .slide_header {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: relative;
    h1 {
      position: absolute;
      bottom: 10px;
      left: 50px;
    }
  }
}

#slide2 {
  background: url(../images/fond1.jpg) center 0 no-repeat fixed;
  .image-container {
    img {
      top: inherit;
      bottom: 0;
      transform: inherit;
    }
  }
  .text-content {
    background-color: rgba(255, 255, 255, 0.7);
    height: 225px;
  }
}

#slide3 {
  background: url(../images/fond2.jpg) center 0 no-repeat fixed;
  //height: 800px;
  .image-container {
    img {
      width: 539px;
      top: inherit;
      bottom: 0;
      transform: inherit;
    }
  }
  .text-container {
    .text-content {
      height: 360px;
    }
  }
}

#slide4 {
  background: url(../images/fond3.jpg) center 0 no-repeat fixed;
  //height: 800px;
  .image-container {
    img {
      width: 800px;
    }
  }
  .text-container {
    .text-content {
      height: 300px;
      top: 5%;
      transform: inherit;
    }
  }
}

#slide5 {
  background: url(../images/fond4.jpg) center 0 no-repeat fixed;
  //height: 800px;
  .image-container {
    img {
      width: 250px;
    }
  }
  .text-container {
    .text-content {
      height: 185px;
      top: 5%;
      transform: inherit;
    }
  }
}

.slide_content {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .large-block {
    width: 55%;
  }
  .small-block {
    width: 40%;
  }
  .image-container {
    height: 100%;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 392px;
      height: auto;
    }
  }
  .text-container {
    height: 100%;
    position: relative;
    .text-content {
      background-color: rgba(218, 218, 218, 0.7);
      height: 600px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 40px;
    }
  }
}